.container {
  position: relative;
  width: 100%;
}

.container2 {
  /* display : flex;
    justify-content : center;
    flex-direction : column;
    align-self: center; */
  background-color: white;
  border: 1px solid transparent;
  /* width : fit-content; */
  padding: 3%;
  /* position: absolute; */
  left: 50%;
  top: 50%;
  /* transform: translate(-50%, 50%); */
}
.titleText {
  width: fit-content;
  display: flex;
  margin: auto;
  font-weight: bold;
  /* margin-top : 15%; */
  font-size: 22px;
  text-align: center;
}

.file-img {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: 5%;
  margin : 20px 0
}

.green_tick {
  height: 100px;
  position: relative;
  right: 110px;
}

.file_manager {
  align-self: center;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top : 30px
}
.btn-container > label {
  margin-top: 5%;
}
.green_btn {
  width: fit-content;
  padding: 8px 3% 8px 3%;
  border-radius: 5px;
  background-color: #00ba75;
  color: white;
  word-spacing: 4px;
  margin: 4% 0 4% 0;
}
.transparent_btn {
  width: fit-content;
  padding: 8px 3% 8px 3%;
  border-radius: 5px;
  border: 1px solid black;
  word-spacing: 4px;
}

@media (max-width: 763px) {
  .titleText {
    font-size: 18px;
  }
}
@media (max-width: 515px) {
  .titleText {
    font-size: 15px;
  }
  .file-img {
    object-fit: cover;
  }
}
